<%- include('../partials/html-head') %>
    <%- include('../partials/nav') %>
    <h1><%= recipe.name %></h1>
    <% if (recipe.newSubmit) { %>
        <p>This is a new submission.</p>
    <% } %>   
      <p><%= recipe.recipe %></p>
      <form action="/desserts/<%=recipe._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= recipe.name %></button>
    </form>
    <a href="/desserts/<%= recipe._id %>/edit">Edit <%= recipe.name %></a>
</body>
</html>